body{
font-family: Arial;
text-align:center;
background:#f2f4f8;
}

h1,h2{
background:#1e90ff;
color:white;
padding:15px;
}

input,select{
padding:8px;
margin:5px;
}

button{
background:green;
color:white;
padding:6px 12px;
border:none;
}

a{
margin:10px;
display:inline-block;
}